.right {
    display: flex;
}

.example ul a {
    color: #fff;
}

.university-title {
    position: relative;
    width: 100%;
    max-height: 600px;
}

.university-title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 8px 8px 25px rgba(0, 0, 0, 0.9);
}

.university-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}